.btn {
    font-size: 25px;
    line-height: 30.26px;
    padding: 15px 42px;
}
.heading-1 {
    font-size: 65px;
    line-height: 87.72px;
}
.heading-2 {
    font-size: 40px;
    line-height: 54.46px;
}
.heading-3 {
    font-size: 40px;
    line-height: 48.11px;
}
.title {
    font-size: 25px;
    line-height: 30.26px;
    color: #FFFFFFCC;
}
.subtitle {
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFFCC;
}
.p-text {
    font-size: 25px;
    line-height: 36.31px;
    font-weight: 300;
}
.rounded-icon {
    height: 35px;
    width: 35px;
}
.contact-banner {
    background-image: url('./assets/svg/contactBanner.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    /* Add a pseudo-element for dimming the background */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(26, 64, 62, 0.68); /* Background overlay with opacity */
        z-index: 1; /* Place the overlay below the content */
    }

    z-index: 2; /* Ensure the text content appears above the pseudo-element */
}

.contact-banner > div {
    position: relative; /* Ensure content is above the overlay */
    z-index: 2;
}




@media (max-width: 1024px) {
    .heading-1 {
        font-size: 50px;
        line-height: 60px;
    }
    .heading-2 {
        font-size: 30px;
        line-height: 40px;
    }
    .heading-3 {
        font-size: 30px;
        line-height: 38.11px;
    }
    .p-text {
        font-size: 24px;
        line-height: 25px;
    }
}

@media (max-width: 640px) {
    .heading-1 {
        font-size: 40px;
        line-height: 50px;
    }
    .heading-2 {
        font-size: 24px;
        line-height: 30px;
    }
    .heading-3 {
        font-size: 20px;
        line-height: 28.11px;
    }
    .p-text {
        font-size: 20px;
        line-height: 30px;
    }
}
